{
  "branches": [
    "main",
    {
      "name": "next",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "break",
            "release": "major"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "angular",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "Features"
            },
            {
              "type": "fix",
              "section": "Bug Fixes"
            },
            {
              "type": "break",
              "section": "BREAKING CHANGES"
            },
            {
              "type": "docs",
              "hidden": true
            },
            {
              "type": "style",
              "hidden": true
            },
            {
              "type": "refactor",
              "hidden": true
            },
            {
              "type": "perf",
              "section": "Performance Improvements"
            },
            {
              "type": "test",
              "hidden": true
            },
            {
              "type": "build",
              "hidden": true
            },
            {
              "type": "ci",
              "hidden": true
            },
            {
              "type": "chore",
              "hidden": true
            }
          ]
        }
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
