{
  "branches": [
    "main",
    {
      "name": "next",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "break",
            "release": "major"
          }
        ]
      }
    ],
    "@semantic-release/npm"
  ]
}
